{% macro list(products) %}

{% from 'SyliusWebBundle:Backend/ProductVariant:macros.html.twig' import list as list_variants %}
{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if products|length > 0 %}
<table class="table" id="stockables">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th></th>
            <th>{{ sylius_resource_sort('name', 'sylius.product.name'|trans) }}</th>
            <th>{{ 'sylius.variant.options'|trans }}</th>
            <th>{{ sylius_resource_sort('onHand', 'sylius.stockable.on_hand'|trans) }}</th>
            <th>{{ sylius_resource_sort('onHold', 'sylius.stockable.on_hold'|trans) }}</th>
            <th>{{ 'sylius.stockable.sold'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.id }}
                </td>
                {% if product.variants.count %}
                    <td class="variant-table-toggle" data-id="variants{{ product.id }}"><i class="glyphicon glyphicon-chevron-down"></i></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <a href="{{ path('sylius_backend_product_show', {'id': product.id}) }}" class="btn btn-link">
                        <strong>{{ product.name }}</strong>
                    </a>
                </td>
                <td>
                    <ul>
                        {% for option in product.masterVariant.options %}
                            <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {% if product.variants.count %}
                        {{ product.getOnHand() }}
                    {% else %}
                        <span class="label label-{{ product.masterVariant.isInStock ? 'success' : 'danger' }}">{{ product.masterVariant.onHand }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if product.variants.count %}
                        {{ product.getOnHold() }}
                    {% else %}
                        <span class="label label-{{ product.masterVariant.onHold ? 'warning' : 'success' }}">{{ product.masterVariant.onHold }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if product.variants.count %}
                        {{ product.getSold() }}
                    {% else %}
                        <span class="label label-info">{{ product.masterVariant.sold }}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="pull-right">
                        {{ buttons.edit(path('sylius_backend_product_update', {'id': product.id})) }}
                    </div>
                </td>
            </tr>
            {% if product.variants.count %}
                {% for variant in product.variants %}
                    <tr data-toggle-id="variants{{ product.id }}" style="display: none;">
                        <td>{{ variant.id }}</td>
                        <td></td>
                        <td>
                            {{ variant.presentation }}
                        </td>
                        <td>
                            <ul>
                            {% for option in variant.options %}
                                <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td><span class="label label-{{ variant.inStock ? 'success' : 'danger' }}">{{ variant.onHand }}</span></td>
                        <td><span class="label label-{{ variant.onHold ? 'warning' : 'success' }}">{{ variant.onHold }}</span></td>
                        <td><span class="label label-info">{{ variant.sold }}</span></td>
                        <td>
                            <div class="pull-right">
                                {{ buttons.edit(path('sylius_backend_product_variant_update', {'productId': product.id, 'id': variant.id})) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.product.no_results'|trans) }}
{% endif %}

{% endmacro %}
